<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shoelace Demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.9/dist/shoelace/shoelace.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.9/dist/shoelace/shoelace.esm.js"></script>

</head>
<body>
<sl-card class="card-overview">
    <img
            slot="image"
            src="http://www.chanan.com/Cat_Photos/IMAG012.JPG"
            alt="A kitten sits patiently between a terracotta pot and decorative grasses."
    >

    <strong>Mittens</strong><br>
    This kitten is as cute as he is playful. Bring him home today!<br>
    <small>6 weeks old</small>

    <div slot="footer">
        <sl-button type="primary" pill>More Info</sl-button>
        <sl-rating></sl-rating>
    </div>
</sl-card>
<style>
    .card-overview {
        max-width: 500px;
    }

    .card-overview small {
        color: var(--sl-color-gray-60);
    }

    .card-overview [slot="footer"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<br>
<div style="position: absolute;bottom: 0;left: 50%;transform: translate(-50%, -50%);">
    感谢<a href="https://shoelace.style/">shoelace</a>提供的开源web组件
</div>

</body>
</html>