<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.9/dist/shoelace/shoelace.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.9/dist/shoelace/shoelace.esm.js"></script>
    <!--    <style  rel="stylesheet" type="text/css">@import "css/demo.css";</style>-->
    <style rel="stylesheet" type="text/css">@import "../../static/css/demo1.css";</style>
</head>
<body>
<!--todo：返回员工列表 验证员工状态正常LDAP密码可以登陆 提供密码-->
<sl-select>
    <sl-menu-item value="option1">刘兴宇-A6853</sl-menu-item>
    <sl-menu-item value="option1">王喆</sl-menu-item>
    <div slot="help-text">选择要查询的员工员工</div>
</sl-select>

<iframe src="http://192.168.180.160:16088/adminLoginForDebug.html" frameborder="0" width="100%" height="700px"></iframe>
<div class="ctr-p" id="footer">
    <div class="EvHmz f6F9Be hRvfYe" id="fbar">
        <div class="fbar">
            <span id="fsr">
                <a class="Fx4vi" href="">隐私权</a>
                <a class="Fx4vi" href="">条款</a>
            </span>
            <span id="fsl">
                <a class="Fx4vi" href="">商务</a>
                <a class="Fx4vi" href="">Google 大全</a>
                <a class="Fx4vi" href="">Google 搜索的运作方式 </a>
            </span>
        </div>
    </div>
</div>
<div class="copyright">
    <div style="float: right; padding-right: 7%; margin-top: -3%;">版权所有&nbsp;©&nbsp;&nbsp;&nbsp;&nbsp;赞同科技 SINCE 1993 </div>
</div>
</body>
</html>